<h1> Create an Favorite List </h1>

<%= form_for(@favorite) do |f| %>
    
	<div class="field">
		<%= f.label :title %><br>
		<%=f.text_field :title %>

    </div>
   
    <div class="field">
		<%= f.label :user_id %><br>
		<%=f.text_field :user_id %>

    </div>
    
    <div class="action">
      <%= f.submit %>
    </div>
    
    
    
    
<% end %>