<h1> Create an Order </h1>

<%= form_for(@order) do |f| %>
    
	<div class="field">
		<%= f.label :author %><br>
		<%=f.text_field :author %>

    </div>
   
    <div class="field">
		<%= f.label :user_id %><br>
		<%=f.text_field :user_id %>

    </div>
    
    <div class="action">
      <%= f.submit %>
    </div>
    
    
    
    
<% end %>